*/{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.encabezado{
    background-color: rgb(87, 87, 196);
    height: 60px;
    padding: 5px 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    top: 0;   
}

.encabezado.logo{
    margin-left: auto;
}

.logo{
    height: 55px;
    width: auto;
    transition: 0.3s;
}

.lista{
    list-style: none;
}

.logo:hover{
    transform: scale(1,2);
}

.lista-navegacion li{
    padding: 0 25px;
    display: inline-block;
}

.lista-navegacion a{
    font-size: 20px;
    color: white;
    text-decoration: solid;
}

.button button{
    border: none;
    border-radius: 20px;
    padding: 9px 15px;
    font-size: 15px;
    background-color: pink;
    cursor: pointer;
}

.contenedor-imagenes{
    display: flex;
    width: 100px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(blue pink);
}

.contenedor-imagenes img{
    width: 300px;
    height: 220px;
    padding: 8px;
}